cache
coco_eval
model_result/
new_test/
pascal2007/
publaynet/
test1/
test2/
PASCALVOC2007.zip
.vscode
--pycache__
data.csv
CBIR/database
CBIR/src/__pycache__/
sanskrit-manual-gt-new-master/
query_data_img/
utils/__pycache__/
sanskrit_tada/
sanskrit_tada1/